*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    background-color: #1d2d3c;
}

header{
    height: 90px;
    background-color: #06131f;
}

header img{
    height: 100%;
}

#discs-container .card{
    border: none;
    color: white;
    background-color: #112030;
    text-align: center;
}