*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    background-color: #1d2d3c;
}

header{
    height: 90px;
    background-color: #06131f;
}

header img{
    height: 100%;
}

#discs-container .card{
    border: none;
    color: white;
    background-color: #112030;
    text-align: center;
}

#discs-container .card:hover{
    cursor: pointer;
}

#disc-info{
    height: 94vh;
    width: 94vw;
    background-color: #1e3145ee;
    border-radius: 15px;
    z-index: 1;
    top: 3vh;
    left: 3vw;
}

#disc-info button{
    margin-left: calc(100% - 40px);
}